﻿@using PhoneContactListAden.Models;

@model List<Contact>

@{
    ViewBag.Title = "My Contacts";

}

<h2>Contact List</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Address</th>
            <th>Note</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contact in Model)
        {
            <tr>
                <td>@contact.Name</td>
                <td>@contact.PhoneNumber</td>
                <td>@contact.Address</td>
                <td>@contact.Note</td>
                <td>
                    <a asp-controller="Contact" asp-action="Add"
                       asp-rout-id="@contact.ContactId"
                       asp-rout-slug="@contact.Slug"
                       class="btn btn-primary">Add</a>
                    <a asp-controller="Contact" asp-action="Remove"
                       asp-route-id="@contact.ContactId"
                       asp-route-slug="@contact.Slug"
                       class="btn btn-primary">Remove</a>
                </td>
            </tr>
        }
    </tbody>
</table>
